.card{
    height:35rem;
    width: 80rem;
    /* background-color: white; */
    border: thick solid white;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.rightside{
    background-image: url('../assets/Sai.jpg');
    background-size: cover;
    margin: 1em;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin:0;
}
.leftside{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 3.5em;
    margin-left: 1em;
    margin:1em;
}

.links{
    display:flex;
    /* justify-content: space-around; */
    gap: 4vw;
}

.name{
    font: 'helvetica';
    font-size: 1.5em;
    font-weight: bold;
    color: #ff4545;
}

.shortname{
    color: #45ffff;
}

.tag{
    font: 'helvetica';
    font-size: .4em;
    font-weight: .5em;
    color: gray;
}

.navlink {
	/* Additional styling */
	position: relative;
	outline: none !important;
	text-transform: uppercase;
	transition: 0.2s;
    font-size: .5em;
    color: white;
    text-decoration: none;
}

.navlink::after {
	content: "";
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	transition: 0.2s;
}

.navlink:hover,
.navlink:focus {
	color: #FF4545;
    cursor: pointer;
}

.navlink:hover::after,
.navlink:focus::after {
	background-color: #ff4545;
	width: 100%;
}

.icons a{
    color: gray;
    padding-right: .5em;
}


.russoOneRegular {
    font-family: "Russo One", sans-serif;
    font-style: normal;
  }

.promptRegular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cardContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 1050px) {
    .card{
        display:flex;
        flex-direction: column;
        justify-content:center;
        width: 80%;
        height: 80%;
    }

    .leftside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 0;
    }

    .rightside{
        height:0;
        margin:0;
    }

    .links{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* align-items: center; */
        height: 50%;
    }

    .name{
        font-size: 10vw;
    }

    .tag{
        font-size: 3vw;
    }

    .icons a{
        padding-right:1vw;
    }
    
}

  
