.card{
    height: 30vw;
    width: 20vw;
    border: thick solid white;
    display: grid;
    grid-template-rows: 1fr 3fr;
    color: white;
    padding: 2vw;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.card p{
    font-size: 1.5vw;
    text-decoration: none;
}

.card h1{
    text-decoration: none;
    color: #ff4545;
}

@media(max-width: 1080px){
    .card{
        height: 70vw;
        width: 80vw;
        border: thick solid white;
        display: grid;
        grid-template-rows: 1fr 3fr;
        color: white;
        padding: 2vw;
    }   

    .card p{
        font-size: 4vw;
    }
}

